$primary-color: #3F4871;

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 0 1rem;
  border-top:  2px solid #3F4871;
  border-left:  2px solid #3F4871;
  height: 200px;
  color: $primary-color;
}

.searchShow {
  padding: 2rem 4rem;
  visibility: visible;
  opacity: 1;
}
.searchHide {
  display: none;
  opacity: 0;
  transition: display 0s, opacity 5s linear;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.voxLogo,
.projectLogo {
  font-size: 2rem;
  line-height: 2.2rem;
  margin: 0;
  cursor: pointer;
}

.searchWrap {
  display: flex;
  align-items: flex-start;
  margin-right: -14px;
  
}

@media (max-width: 600px) {
  .voxLogo,
  .projectLogo {
    font-size: 1.6rem;
    line-height: 1.8rem;
    margin: 0;
  }
}

